{% extends 'base.html.twig' %}

{% block title %}Hello {{ fullName }}{% endblock %}

{% block body %}
    {% if errors %}
        {% for error in errors %}
            <h5>{{ error }}</h5>
        {% endfor %}
    {% endif %}

    <h1>Hello {{ fullName }} </h1>
    <a href="{{ path('app_logout') }}">Logout</a>
<form action="{{ url('file_upload_post') }}" method="post" enctype="multipart/form-data">
    <div>Slack Json vagy Zip export file, max 8 MB:</div>
    <div><input type="file" name="fileToUpload" id="fileToUpload"></div>
    <div><input type="submit" value="Upload" name="submit"></div>
</form>
{% endblock %}
